body {
  background-color: #2b3a42;
  height: 100%;
  line-height: 1.6;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
}

body {
  color: #ffffff;
}
